/************************************************
| CONFIGURATION FILE FOR NAO BASECALL WORKFLOW |
************************************************/

params {
    mode = "basecall"

    // Input directory
    duplex = false
    demux = true
    pod_5_dir = "s3://nao-mgs-simon/NAO-ONT-20241120-Zephyr6/pod5/*"

    batch_size = 1024**3 // 1GiB


    // Output directory
    base_dir = "s3://nao-mgs-simon/NAO-ONT-20241120-Zephyr6"

    // Run parameters
    nanopore_run = "NAO-ONT-20241120-Zephyr6"

    // Nanopore kit (format: XXX-XXXXXX-XX)
    kit = "SQK-RPB114-24"

}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
includeConfig "${projectDir}/configs/logging.config"
nextflow.enable.moduleBinaries = true

process.queue = "slg-basecall-batch-queue"


