/************************************************
| CONFIGURATION FILE FOR NAO BASECALL WORKFLOW |
************************************************/

params {
    mode = "basecall"

    // Basecalling parameters
    duplex = false
    demux = true
    // kit = <ONT_KIT> // format: "XXX-XXXXXX-XX"; fill with your desired kit and uncomment

    // Delivery
    // nanopore_run = <NANOPORE_RUN> // format: "NAO-ONT-YYYYMMDD-LIBRARY"; fill with your run and uncomment

    // Directories
    // base_dir = "s3://<PRODUCTION_S3_BUCKET>/${nanopore_run}" // Parent for raw FASTQ directory; fill with your value and uncomment
    // work_dir = "s3://<WORKING_S3_BUCKET>/${nanopore_run}" // Parent for working directory; fill with your value and uncomment

    // Barcodes (on s3 by default)
    // barcodes = "s3://${base_bucket}/${nanopore_run}/supplemental/barcodes.tsv" // Barcodes: fill with your alue and uncomment

    // AWS queue (pass it here to make it easier to specify on the fly for automation)
    // aws_queue = <YOUR GPU QUEUE> // Fill with your value and uncomment

}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
includeConfig "${projectDir}/configs/logging.config"
nextflow.enable.moduleBinaries = true

process.queue = params.aws_queue // Fill with your queue and uncomment


