/************************************************
| CONFIGURATION FILE FOR NAO BASECALL WORKFLOW |
************************************************/

params {
    mode = "basecall"

    // Basecalling parameters
    duplex = false
    demux = true
    kit = <ONT_KIT> //format: "XXX-XXXXXX-XX"

    // Delivery
    nanopore_run = <NANOPORE_RUN> // format: "NAO-ONT-YYYYMMDD-LIBRARY"

    // Barcodes
    barcodes = "${launchDir}/barcodes.tsv"

    // Directories
    pod_5_dir = "s3://<PRODUCTION_S3_BUCKET>/${nanopore_run}/pod5/*"
    base_dir = "s3://<PRODUCTION_S3_BUCKET>/${nanopore_run}" // Parent for raw FASTQ directory
    work_dir = "s3://<PERSONAL_S3_BUCKET>/${nanopore_run}" // Parent for working directory
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
includeConfig "${projectDir}/configs/logging.config"
nextflow.enable.moduleBinaries = true

process.queue = "slg-basecall-batch-queue"


