// Specify Docker containers for workflow processes
process {
    withLabel: base {
        container = "eclipse/alpine_jdk8:latest"
        // NB: As of 2024-07-01, no more specific tag available
    }
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
        // NB: As of 2024-07-01, no more specific tag available
    }
    withLabel: dorado {
        container = "ontresearch/dorado:sha3d64678bdcbb70971ee56891c01b9902eab9deea"
        // v0.9.1
    }
    withLabel: samtools {
        container = "staphb/samtools:latest"
    }

}
