// Specify Docker containers for workflow processes
process {
    withLabel: base {
        container = "eclipse/alpine_jdk8:latest"
        // NB: As of 2024-07-01, no more specific tag available
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
        // NB: As of 2024-07-01, no more specific tag available

    withLabel: dorado {
        container = "ontresearch/dorado:latest"
        // NB: For now going with latest version, maybe the version switching with new updates will break things in the future.
    }
    withLabel: samtools {
        container = "staphb/samtools:latest"
    }

}
